#define ICO_MAIN 4096
#define IDM_MAIN 8192
#define IDM_OPEN 16641
#define IDM_OPTION 16642
#define IDM_EXIT 16643
#define IDM_LOOK 8193
#define IDM_SETFONT 16897
#define IDM_SETCOLOR 16898
#define IDM_INACT 16899
#define IDM_GRAY 16900
#define IDM_BIG 16901
#define IDM_SMALL 16902
#define IDM_LIST 16903
#define IDM_DETAIL 16904
#define IDM_TOOL 8194
#define IDM_TOOLBAR 16905
#define IDM_TOOLBARTEXT 16912
#define IDM_INPUTBAR 16913
#define IDM_STATUSBAR 16914
#define IDM_HELP 17153
#define IDM_ABOUT 17154
#define IDA_MAIN 8192
#define IDA_TESTACC 1000
#define IDM_MYMAIN 10000
#define IDM_MyMenu 10001
#define IDM_MyMenuItem0 10002

#include <resource.h>

ICO_MAIN ICON DISCARDABLE "Main.ico"

IDM_MAIN MENU
BEGIN
  POPUP "文件(&F)"
  BEGIN
    MENUITEM "打开文件(&O)...",IDM_OPEN,CHECKED
    MENUITEM "关闭文件(&C)...",IDM_OPTION
    MENUITEM SEPARATOR
    MENUITEM "退出(&X)",IDM_EXIT
  END
  POPUP "查看(&V)"
  BEGIN
    MENUITEM "字体(&F)...\tAlt+F",IDM_SETFONT
    MENUITEM "背景色(&B)...\tCtrl+Alt+B",IDM_SETCOLOR
    MENUITEM SEPARATOR
    MENUITEM "被禁用的菜单项",IDM_INACT
    MENUITEM "被灰化的菜单项",IDM_GRAY,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "大图标(&G)",IDM_BIG
    MENUITEM "小图标(&M)",IDM_SMALL
    MENUITEM "列表(&L)",IDM_LIST
    MENUITEM "详细资料(&D)",IDM_DETAIL
    MENUITEM SEPARATOR
    POPUP "工具栏(&T)"
    BEGIN
      MENUITEM "标准按钮(&S)",IDM_TOOLBAR
      MENUITEM "文字标签(&C)",IDM_TOOLBARTEXT
      MENUITEM "命令栏(&I)",IDM_INPUTBAR
    END
    MENUITEM "状态栏(&U)",IDM_STATUSBAR
  END
  POPUP "帮助(&H)"
  BEGIN
    MENUITEM "帮助主题(&H)\tF1",IDM_HELP
    MENUITEM SEPARATOR
    MENUITEM "关于本程序(&A)...",IDM_ABOUT
  END
END

IDA_MAIN ACCELERATORS
BEGIN
  112,IDM_HELP,VIRTKEY,NOINVERT
  66,IDM_SETCOLOR,VIRTKEY,CONTROL,ALT,NOINVERT
  70,IDM_SETFONT,VIRTKEY,ALT,NOINVERT
  66,IDA_TESTACC,VIRTKEY,SHIFT,NOINVERT
END

IDM_MYMAIN MENU
BEGIN
  POPUP "IDM_MyMenu"
  BEGIN
    MENUITEM "IDM_MyMenuItem0",IDM_MyMenuItem0
  END
END

