#define ICO_MAIN 4096
#define IDB_1 1
#define IDB_2 2
#define DLG_MAIN 1
#define IDC_ONTOP 101
#define IDC_SHOWBMP 102
#define IDC_ALOW 103
#define IDC_MODALFRAME 104
#define IDC_THICKFRAME 105
#define IDC_TITLETEXT 106
#define IDC_CUSTOMTEXT 107
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDC_BMP 108
#define IDC_SCROLL 109
#define IDC_VALUE 110
#define IDD_DLG1 1000
#ifndef IDOK
  #define IDOK 1001
#endif

#include <resource.h>

ICO_MAIN ICON DISCARDABLE "Main.ico"
IDB_1 BITMAP DISCARDABLE "Picture1.bmp"
IDB_2 BITMAP DISCARDABLE "Picture2.bmp"

DLG_MAIN DIALOGEX 193,180,310,134
CAPTION "对话框子窗口控制示例"
FONT 9,"宋体",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_MODALFRAME
BEGIN
  CONTROL "选项",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,55,5,120,100
  CONTROL "总在最前面",IDC_ONTOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,65,20,100,12
  CONTROL "显示图片",IDC_SHOWBMP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,65,35,100,12
  CONTROL "允许更换图片",IDC_ALOW,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,65,50,100,12
  CONTROL "",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ETCHEDHORZ,60,65,110,1
  CONTROL "模态边框(&Modal Frame)",IDC_MODALFRAME,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,65,70,100,12
  CONTROL "可变边框(&Thick Frame)",IDC_THICKFRAME,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,65,85,100,12
  CONTROL "标题栏文字",-1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,180,5,125,100
  CONTROL "",IDC_TITLETEXT,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,190,20,105,70
  CONTROL "自定义文字：",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,190,40,105,10
  CONTROL "",IDC_CUSTOMTEXT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,190,55,105,12,WS_EX_CLIENTEDGE
  CONTROL "请在此选择显示在标题栏上面的文字，或者选择“自定义”后自行输入",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_GROUP,191,73,105,26
  CONTROL "",-1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_ETCHEDHORZ,5,110,300,1
  CONTROL "更换图片(&C)",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,200,115,50,14
  CONTROL "退出(&X)",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,255,115,50,14
  CONTROL IDB_1,IDC_BMP,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_BITMAP,5,5,40,95
  CONTROL "",IDC_SCROLL,"ScrollBar",WS_CHILDWINDOW|WS_VISIBLE,6,118,125,10
  CONTROL "0",IDC_VALUE,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,138,119,50,8
END

IDD_DLG1 DIALOGEX 10,10,294,171
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "IDC_BTN",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,123,96,54,15
END

